node_modules/
android/app/build/
android/.gradle/
android/local.properties
android/upload-keystore.jks
upload-keystore.jks
.DS_Store
.idea/
.vscode/
*.log
js/secrets.js
archives/
build/
android/build/
temp_v11_deploy/
.gradle/
*.aab
*.jks
*.keystore

service-account.json

service-account.json

service-account.json

mon50ccetmoi-firebase-adminsdk-fbsvc-248403805b.json

mon50ccetmoi-firebase-adminsdk-fbsvc-248403805b.json

mon50ccetmoi-firebase-adminsdk-fbsvc-248403805b.json

service-account.json
mon50ccetmoi-firebase-adminsdk-fbsvc-248403805b.json
